<!-- About Section -->
<section class="about" id="about">
  <style>
    .about {
      background-color: black;
      background-image: url('/img/lablogo.png'); /* Path to your background image */
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      padding: 100px 20px;
      position: relative;
      color: #fff;
    }

    .about-content {
      position: relative;
      z-index: 2; /* Ensure content is above the overlay */
    }

  </style>

  <div class="container about-content">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-blue">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-justify">
        <p>

        I'm a 5th-year Bioengineering Ph.D. candidate at Stanford developing low-cost, high-throughput 3D-printing technologies for biofabrication of cardiac tissues in <a href="https://med.stanford.edu/skylarscottlab.html">Mark Skylar-Scott's 3D-Bioprinting Lab</a>.</p>

        <p>I have extensive experience in 3D computer-aided design (CAD), motion control system device prototyping, and stem cell and tissue culture. I use various 3D bioprinting technologies, particularly novel multinozzle printheads, to fabricate soft-material structures such as silicone elastomers, photocurable hydrogels, and cell-laden engineered tissues. The biological applications of my fabrication work include the printing of custom-geometry heart valves and small-scale cardiac and stem cell tissue models, which I use to study function, growth, and maturation.</p>

        <p><strong>I am currently seeking a full-time R&D position beginning in fall 2025</strong> that blends these engineering disciplines to develop impactful technologies with applications in biomedical engineering, environmental sustainability, electronics, or beyond.</p>
      </div>
     
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="mailto:jdweiss@stanford.edu" class="btn btn-lg btn-outline">
          <i class="fa fa-envelope"></i> Contact Me
        </a>
      </div>
    </div>
  </div>
</section>