<!-- About Section -->
<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="color: #ffffff;">About</h2>
        <hr class="star-blue">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p style="color: #ffffff;">

          I'm a 5th-year Bioengineering Ph.D. candidate at Stanford developing low-cost, high-throughput 3D printing hardware and pipelines for biofabrication of cardiac tissues in <a href="https://med.stanford.edu/skylarscottlab.html">Mark Skylar-Scott's 3D-bioprinting lab</a>.</p>

        </p>My recent work and interest focuses on 3D computer-aided design (CAD) and device prototyping towards building motion control systems, specifically 3D bioprinters. I have developed various bioprinter technologies and use them to fabricate soft-material structures, including silicone elastomers, photocurable hydrogels, and cell-laden engineered tissues. The biological applications of my fabrication work include the printing of custom-geometry heart valves and small-scale cardiac and stem cell tissue models that I have used to study function, growth, and maturation.</p>

        </p><b>I am looking for a research position beginning in fall 2025</b> that blends these engineering disciplines to develop impactful technologies with applications in the life-sciences or beyond.</p>
          
        
      </div>
     
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
