
<!-- Fun Section -->
<section class="success" id="fun">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Fun</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>In my free time, I enjoy playing <a href="https://open.spotify.com/artist/1bSYDuBbxYOaH67TOzqy5X">guitar</a> 🎸 and chess 👑, STEM tutoring, and (non-olympic level) olympic weightlifting 🏋️</p>
      </div>

    </div>
  </div>
</section>
