<!-- Fun Section -->
<section class="success" id="other">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Other</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>In my free time, I enjoy <a href="https://open.spotify.com/artist/1bSYDuBbxYOaH67TOzqy5X">guitar</a> 🎸, chess 👑, running 🏃‍♂️, and Olympic weightlifting 🏋️.</p>

        <p>I also tutor up to college-level calculus, physics, and other mathematics. Feel free to contact me with inquiries.</p>
      </div>
    </div>

    <!-- Horizontal Scrolling Image Gallery -->
    <div class="image-gallery">
      <div class="image-container"><img src="img/houseband2.jpg" alt="Fun Image 0"></div>
      <div class="image-container"><img src="img/stage.jpeg" alt="Fun Image 2"></div>
      <div class="image-container"><img src="img/ren.jpg" alt="Fun Image 3"></div>
      <div class="image-container"><img src="img/houseband.jpg" alt="Fun Image 4"></div>
      <div class="image-container"><img src="img/CJ.png" alt="Fun Image 6"></div>
      <div class="image-container"><img src="img/snatch.png" alt="Fun Image 5"></div>
      <div class="image-container"><img src="img/run.JPG" alt="Fun Image 4.5"></div>
    </div>
  </div>
</section>


<style>
.image-gallery {
    display: flex; /* Use flexbox for horizontal layout */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px 0; /* Add some vertical padding */
    scroll-snap-type: x mandatory; /* For smooth snapping of images */
}

.image-container {
    height: 400px;  /* Fixed height for all images */
    width: auto;    /* Adjust width based on aspect ratio */
    flex-shrink: 0; /* Prevent flexbox from shrinking */
    margin-right: 10px; /* Space between images */
    overflow: hidden;  /* Ensures images are contained within the div */
}

.image-container img {
    height: 100%; /* Make the image take up the full height of the container */
    width: auto;  /* Allow width to adjust based on aspect ratio */
    object-fit: contain; /* Ensure image is not cropped and maintains its aspect ratio */
}

.image-gallery::-webkit-scrollbar {
    height: 12px; /* Set the height of the scrollbar */
}

.image-gallery::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded edges of the scrollbar thumb */
}

.image-gallery::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}
</style>