<!-- Portfolio Grid Section -->
<section id="portfolio" style="background-color: #000">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center" style= "color: #ffffff; position: relative; z-index: 10;">
        <h2 style="position: relative; z-index: 10;">Portfolio</h2> <!-- Bring title to front -->
        <hr class="star-blue">
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% assign sorted_posts = site.posts | sort: 'modal-id' %}
      {% for post in sorted_posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <!-- Use the image-size property to assign a size dynamically -->
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" {% if post.size %} style="width: {{ post.size }}; display: block; margin: 0 auto;" {% endif %} alt="{{ post.alt }}">
        </a>
      </div>
      {% endfor %}

      <!-- New Video Section -->
      <div class="row">
        <div class="col-md-4">
          <div class="portfolio-flex-item portfolio-item text-center">
            <h3 style="color: #ffffff;">Video Portfolio</h3>
            <img src="img/videos/Auxetic-thumbnail.png" class="img-responsive" style="cursor: pointer;" onclick="openModal('Auxetic.mp4')" alt="Video 1">
          </div>
        </div>

        <div class="col-md-4">
          <div class="portfolio-flex-item portfolio-item text-center">
            <img src="img/videos/Valve-thumbnail.png" class="img-responsive" style="cursor: pointer;" onclick="openModal('Valve.mp4')" alt="Video 2">
          </div>
        </div>

        <div class="col-md-4">
          <div class="portfolio-flex-item portfolio-item text-center">
            <img src="img/videos/Tree-thumbnail.png" class="img-responsive" style="cursor: pointer;" onclick="openModal('Tree.mp4')" alt="Video 3">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Video Modal -->
<div id="videoModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Video Player</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <video id="modalVideo" controls style="width: 100%; height: auto;">
          <source id="videoSource" src="" type="video/mp4">

        </video>
      </div>
    </div>
  </div>
</div>

<script>
  function openModal(videoFile) {
    document.getElementById('videoSource').src = 'img/videos/' + videoFile;
    document.getElementById('modalVideo').load();
    $('#videoModal').modal('show');
  }
</script>
