<!-- Portfolio Grid Section -->
<section id="portfolio" style="background-color: #000">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center" style= "color: #ffffff; position: relative; z-index: 10;">
        <h2 style="position: relative; z-index: 10;">Portfolio</h2> <!-- Bring title to front -->
        <hr class="star-blue">
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% assign sorted_posts = site.posts | sort: 'modal-id' %}
      {% for post in sorted_posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <!-- Use the image-size property to assign a size dynamically -->
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" {% if post.size %} style="width: {{ post.size }}; display: block; margin: 0 auto;" {% endif %} alt="{{ post.alt }}">
        </a>
      </div>
      {% endfor %}

      <!-- New Video Section -->
      <div class="row text-center" style="margin-top: 30px;">
        <div class="row"> 
          <div class="col-lg-12 text-center">
            <h2 style="color: #ffffff; margin-bottom: 20px;">Videos</h2> <!-- Center the title -->
          </div>
        </div>     
      </div>
      <div class="portfolio-flex-row">
        <div class="portfolio-flex-item portfolio-item">
          <a href="#videoModal" class="portfolio-link" data-toggle="modal" onclick="openModal('Auxetic.mp4')">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-play fa-3x"></i>
              </div>
            </div>
            <img src="img/videos/Auxetic-thumbnail.png" class="img-responsive" style="width: 80%; max-width: 400px; display: block; margin: 0 auto;" alt="Video 1">
          </a>
        </div>

        <div class="portfolio-flex-item portfolio-item">
          <a href="#videoModal" class="portfolio-link" data-toggle="modal" onclick="openModal('Valve.mp4')">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-play fa-3x"></i>
              </div>
            </div>
            <img src="img/videos/Valve-thumbnail.png" class="img-responsive" style="width: 80%; max-width: 400px; display: block; margin: 0 auto;" alt="Video 2">
          </a>
        </div>

        <div class="portfolio-flex-item portfolio-item">
          <a href="#videoModal" class="portfolio-link" data-toggle="modal" onclick="openModal('Tree.mp4')">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-play fa-3x"></i>
              </div>
            </div>
            <img src="img/videos/Tree-thumbnail.png" class="img-responsive" style="width: 80%; max-width: 400px; display: block; margin: 0 auto;" alt="Video 3">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Video Modal -->
<div id="videoModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Video Player</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <video id="modalVideo" class="video-border" controls preload="metadata" style="width: 100%; height: auto;">
          <source id="videoSource" src="" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>

<script>
  function openModal(videoFile) {
    var videoSrc = 'img/videos/' + videoFile;
    var modalVideo = document.getElementById('modalVideo');
    var videoSource = document.getElementById('videoSource');

    // Pause the video when modal is closed
    modalVideo.pause();
    videoSource.src = videoSrc;
    modalVideo.load();
    
    $('#videoModal').modal('show');
  }

  // Pause the video when the modal is hidden
  $('#videoModal').on('hidden.bs.modal', function () {
    var modalVideo = document.getElementById('modalVideo');
    modalVideo.pause(); // Pause video on modal close
    modalVideo.src = ''; // Clear source to avoid glitches
  });
</script>