<!-- About Section -->
<section class="about" id="printheadsAbout">
  <style>
    .about {
      background-color: black;
      /*  background-image: url('/img/lablogo.png'); /* Path to your background image */
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      padding: 100px 20px;
      position: relative;
      color: #fff;
      margin-top: 50px;
    }

    .about-content {
      position: relative;
      z-index: 2;
      /* Ensure content is above the overlay */
    }
  </style>

  <div class="container about-content">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Printheads</h2>
        <hr class="star-blue">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-justify">
        <p>
          Coming Soon!
        </p>
      </div>

      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="mailto:jdweiss@stanford.edu" class="btn btn-lg btn-outline">
          <i class="fa fa-envelope"></i> Contact Me
        </a>
      </div> -->
      
    </div>
  </div>
</section>