<!-- About Section -->
<section class="about" id="printheadsAbout">
  <style>
    .about {
      background-color: #f0f0f0;
      /*  background-image: url('/img/lablogo.png'); /* Path to your background image */
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      padding: 100px 20px;
      position: relative;
      color: black;
      margin-top: 50px;
    }

    .about-content {
      position: relative;
      z-index: 2;
      /* Ensure content is above the overlay */
    }
  </style>

  <div class="container about-content">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Printhead Design</h2>
        <hr class="star-light">
      </div>
    </div>




    <div class="row">
      <div class="col-lg-12 text-justify">

        <p style="text-align: center; font-size: 30pt;">Multimaterial Active Mixing Nozzle</p>

          <img src="{{ site.baseurl }}/img/portfolio/Mixing.png" alt=""
            style="max-width: 100%; height: auto; margin-top: 0px; margin-bottom: 15px;">

      </div>



      <div class="col-lg-12 text-justify">

        <p style="text-align: center; font-size: 30pt; margin-top: 50px;">8x1 Multimaterial Multinozzle</p>

          <img src="{{ site.baseurl }}/img/portfolio/Multinozzle.png" alt=""
            style="max-width: 100%; height: auto; margin-top: 0px; margin-bottom: 15px;">

      </div>


      <div class="col-lg-12 text-justify">

        <p style="text-align: center; font-size: 30pt; margin-top: 50px;">8x4 Multimaterial Multinozzle</p>

          <img src="{{ site.baseurl }}/img/portfolio/Nozzle32.png" alt=""
            style="max-width: 100%; height: auto; margin-top: 0px; margin-bottom: 15px;">

      </div>



      <div class="col-lg-12 text-justify">

        <p style="text-align: center; font-size: 30pt; margin-top: 50px;">8x4 Multimaterial Active Mixing Multinozzle</p>

        <p> Coming Soon!</p>
       <!--   <img src="{{ site.baseurl }}/img/portfolio/MixingMulti.png" alt=""
            style="max-width: 100%; height: auto; margin-top: 0px; margin-bottom: 15px; align-items: center;">
-->
      </div>



      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="/" class="btn btn-lg btn-outline-black" style="color: #000000;">
          <i class="fa fa-house" style="color: #000000;"></i> Home
        </a>
      </div>
      




      
    </div>
  </div>
</section>