<!-- Publications Section -->
<section class="success" id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Publications</h2>
        <hr class="star-light" style="margin-bottom: 60px;">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul>
          <li style="list-style-type: none;">
            <div class="row">
              <div class="col-md-10">
                <p style="word-wrap: break-word; overflow-wrap: break-word;">
                  <a style="color: #000000;" href="https://doi.org/10.1002/adma.202414971" target="_blank">
                    <b>A low-cost, open-source 3D printer for multimaterial and
                      high-throughput direct ink writing of soft and living materials.</b>
                    <p style="padding-left: 50px;">
                      <b>J.D. Weiss</b><sup>*</sup>, A. Mermin-Bunnell<sup>*</sup>, F.S. Solberg, T. Tam, L. Rosalia, A. Sharir, D. Rutsche, S. Sinha, P.S. Choi, M. Shibata, Y. Palagani, R. Nilkant, K.
                      Paulvannan, M. Ma, M.A. Skylar-Scott.

                      <p style="padding-left: 50px;">
                        Advanced Materials 2025. https://doi.org/10.1002/adma.202414971
                      </p>
                  </a>
                </p>
              </div>
              <div class="col-md-2 text-left">
                <img src="img/portfolio/PrintessCover.png" alt="3D printer"
                  style="max-width: 100%; height: auto; margin-top: -20px; margin-bottom: 15px;">
              </div>
            </div>
          </li>

          <li style="list-style-type: none; margin-top: 20px;">
            <div class="row">
              
              <div class="col-md-10">
                <p style="word-wrap: break-word; overflow-wrap: break-word;">
                  <a style="color: #000000;" href="https://doi.org/10.1002/adhm.202201138" target="_blank">

                    <b>Large-Scale Production of Wholly Cellular Bioinks via the Optimization of Human Induced
                      Pluripotent Stem Cell Aggregate Culture in Automated Bioreactors.</b>

                    <p style="padding-left: 50px;">
                      D.L.L. Ho, S. Lee, J. Du, <b>J.D. Weiss</b>, T. Tam, S. Sinha, D. Klinger, S. Devine,
                      A. Hamfeldt, H.T. Leng, J.E. Herrmann, M. He, L.G. Fradkin, T.K. Tan, D. Standish,
                      P. Tomasello, D. Traul, N. Dianat, R. Ladi, Q. Vicard, K. Katikireddy, M.A. Skylar-Scott.
                    </p>
                    <p style="padding-left: 50px;">
                      Advanced Healthcare Materials 2022. https://doi.org/10.1002/adhm.202201138
                    </p>
                  </a>
                </p>
              </div>

              <div class="col-md-2 text-center">
                <img src="img/ambr.jpg" alt="3D printer"
                  style="max-width: 100%; height: auto; margin-top: -10px; margin-bottom: 20px;">
              </div>


            </div>
          </li>

          <li style="list-style-type: none; margin-top: 20px;">
            <p style="word-wrap: break-word; overflow-wrap: break-word;">
              <a style="color: #000000;" href="https://doi.org/10.1101/2024.11.03.621771" target="_blank">

                <b>Programmable 3D cell alignment of bioprinted tissue via soft robotic dynamic stimulation.</b>

                <p style="padding-left: 50px;">
                  L. Rosalia, K. Mosle, S. Sinha, Y.Y. Du, F. Solberg, A. Jia, <b>J.D. Weiss</b>, T. Tam, J.E. Herrmann, M.R. Cutkosky, M. Skylar-Scott.
                </p>

                <p style="padding-left: 50px;">
                  BioRxiv 2024. https://doi.org/10.1101/2024.11.03.621771
                </p>
              </a>
            </p>
          </li>


          <li style="list-style-type: none; margin-top: 20px;">
            <p style="word-wrap: break-word; overflow-wrap: break-word;">
              <a style="color: #000000;" href="https://doi.org/10.1016/j.stem.2022.04.012" target="_blank">

                <b>Biomanufacturing human tissues via organ building blocks.</b>

                <p style="padding-left: 50px;">
                  K.J. Wolf<sup>*</sup>, <b>J.D. Weiss</b><sup>*</sup>, S.G.M. Uzel, M.A. Skylar-Scott, J.A. Lewis.
                </p>

                <p style="padding-left: 50px;">
                  Cell Stem Cell 2022. https://doi.org/10.1016/j.stem.2022.04.012
                </p>
              </a>
            </p>
          </li>

          <li style="list-style-type: none; margin-top: 20px;">
            <p style="word-wrap: break-word; overflow-wrap: break-word;">
              <a style="color: #000000;" href="https://doi.org/10.1016/j.bpj.2019.08.024" target="_blank">
                <b>A Microwell Cell Capture Device Reveals
                  Variable Response to Dobutamine in Isolated Cardiomyocytes.</b>

                <p style="padding-left: 50px;">
                  J.A. Clark, <b>J.D. Weiss</b>, S.G. Campbell.

                </p>

                <p style="padding-left: 50px;">
                  Biophysical Journal 2019. https://doi.org/10.1016/j.bpj.2019.08.024
                </p>
              </a>
            </p>
          </li>

        </ul>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 40px;">
        <a href="https://scholar.google.com/citations?user=OaLCWBQAAAAJ" class="btn btn-lg btn-outline-black"
          style="color: #000000;">
          <i class="fa-brands fa-google-scholar" style="color: #000000;"></i> Google Scholar
        </a>
      </div>
    </div>
  </div>
</section>