<!-- Publications Section -->
<section class="success" id="fun">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Publications</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <ul>
              <li style="color: #000000;">
                  <h3>
                      <a href="https://doi.org/10.1101/2024.10.01.615991" target="_blank">
                          Weiss, J.D., Mermin-Bunnell, A., Solberg, F.S., Tam, T., Rosalia, L., Sharir, A., Rutsche, D., Sinha, S., Choi, P.S., Shibata, M., Palagani, Y., Nilkant, R., Paulvannan, K., Ma, M., Skylar-Scott, M.A., 2024. A low-cost, open-source 3D printer for multimaterial and high-throughput direct ink writing of soft and living materials. https://doi.org/10.1101/2024.10.01.615991 (Under Review)
                      </a>
                  </h3>
              </li>
              <li>
                  <h3>
                      <a href="https://link-to-your-publication2.com" target="_blank">
                          Title of the Publication 2
                      </a>
                  </h3>
                  <p>Author(s): Your Name, Co-author Name</p>
                  <p>Journal Name, Volume(Issue), Page Numbers. Year.</p>
              </li>
              <li>
                  <h3>
                      <a href="https://link-to-your-publication3.com" target="_blank">
                          Title of the Publication 3
                      </a>
                  </h3>
                  <p>Author(s): Your Name, Co-author Name</p>
                  <p>Journal Name, Volume(Issue), Page Numbers. Year.</p>
              </li>
          </ul>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
